<footer class="footer">
    <div class="footer-content">
        <div class="university-info">
            <div class="vision">
                <h3>رؤية الجامعة</h3>
                <p>تتمحور الرؤية الإستراتيجية لجامعة دمنهور حول بناء مـــــــــــــــركز تنافسي متميز فى مجال التعليم والبحث العلمى محلياً ودولياً والمساهمة الفاعلة فى بناء مجتمع التعلم Learning Society) القادر ليس فقط على الولوج إلى مصادر المعرفة أو استيعابها أو توظيفها ، بل وتوليد معارف ومهارات جديدة ومبتكرة تكرس الهوية المصرية والقيم الجامعية .</p>
            </div>
            <div class="mission">
                <h3>رسالة الجامعة</h3>
                <p>تسعى الجامعة إلى تحقيق الريادة والتميز بين الجامعات المصرية والعربية والعالمية من خلال التطوير المستمر فى مجالات التعليم والبحث العلمي وخدمة المجتمع وتنمية البيئة وفقا للمعايير القومية للجودة والإعتماد .</p>
            </div>
        </div>
        <div class="complaints-contact">
            <div class="complaints">
                <h3>منظومة الشكاوى الحكومية</h3>
                <p>بوابة الإلكترونية لمنظومة الشكاوى الحكومية تم إنشاؤها لتحقيق التواصل المباشر مع المواطن المصري عبر تكنولوجيا المعلومات والاتصالات، وذلك لتخفيف المعاناة وسعياً للارتقاء بمستوى الخدمات المقدمة له.</p>
                <p>الرقم المختصر للشكاوى: <span class="complaint-number">16528</span></p>
            </div>
            <div class="contact-us">
                <h3>اتصل بنا</h3>
                <p>3368069-(045)-(002)</p>
            </div>
        </div>
        <div class="copyright">
            جميع الحقوق محفوظة &copy; 2025 جامعة دمنهور
        </div>
    </div>
</footer>