<div class="status-page container">
  <h1> {{ 'check-complaint-status.title' | translate }} </h1>

  <div class="status-card" *ngIf="complaintStatus">
    <p><strong>{{ 'check-complaint-status.date' | translate }}:</strong> {{ complaintStatus.submittedDate | date:'longDate' }}</p>
    <p>
      <strong>{{ 'check-complaint-status.status' | translate }}</strong>
      <span [ngClass]="getStatusClass(complaintStatus.status)">{{ complaintStatus.status }}</span>
    </p>
    <p><strong>{{ 'check-complaint-status.reply' | translate }}</strong> {{ complaintStatus.response }}</p>
  </div>

  <div *ngIf="!complaintStatus">
    <p>لا توجد بيانات لعرضها حالياً.</p>
  </div>

<div class="status-actions">
  <button (click)="refreshStatus()" class="refresh-button">{{ 'check-complaint-status.refresh' | translate }}</button>
  <button (click)="goToSubmitComplaint()" class="back-button">{{ 'check-complaint-status.back' | translate }}</button>
  <button (click)="goToComplaintsLog()" class="history-button">{{ 'check-complaint-status.show' | translate }}</button>
</div>

  <div class="note">
    {{ 'check-complaint-status.end_msg' | translate }}
  </div>
</div>
