:root {
  --main-color: #1E427E;
}

.login-container {
  background-color: #f2f2f2;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  width: 400px;
  max-width: 90%;
  text-align: center;
  margin: 100px auto;
}

.main-heading h1 {
  font-size: 32px;
  color: #111;
  font-weight: bold;
  margin-bottom: 20px;
}

.login-form {
  margin-bottom: 30px;
  text-align: left;
}

.login-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #1e427e;
  text-align: right;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.login-form label:hover {
  transform: scale(1.05);
}

.login-form input[type='password'],
.login-form input[type='text'] {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  font-family: "Cairo", sans-serif;
  box-sizing: border-box;
  transition: transform 0.2s ease-in-out;
}

.login-form input:focus {
  outline: none;
  border-image: linear-gradient(to right, #ff731d, var(--main-color)) 1;
  border-width: 2px;
  transform: scale(1.02);
}

.password-input-wrapper {
  position: relative;
}

.password-input-wrapper input[type='password'],
.password-input-wrapper input[type='text'] {
  padding-right: 40px;
}

.password-toggle {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #777;
  font-size: 18px;
}

html[dir='ltr'] .password-toggle {
  right: 10px;
  left: auto;
}

.error {
  color: #d9534f;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: right;
}

.success {
  color: #28a745;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: right;
}

.login-form button {
  background: linear-gradient(to right, var(--main-color), #12284c);
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 15px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login-form button:hover {
  background: linear-gradient(to right, #ff731d, var(--main-color));
  transform: translateY(-3px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
