<div class="login-container">
  <div class="main-heading">
    <h1>{{ 'reset-password.title' | translate }}</h1>
  </div>

  <form class="login-form" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <!-- كلمة المرور الجديدة -->
    <label for="new_password">{{ 'reset-password.new' | translate }}</label>
    <div class="password-input-wrapper">
      <input
        [type]="showPasswordFields['new_password'] ? 'text' : 'password'"
        id="new_password"
        formControlName="new_password"
      />
      <span class="password-toggle" (click)="togglePasswordVisibility('new_password')">
        <i class="{{ showPasswordFields['new_password'] ? 'fas fa-eye-slash' : 'fas fa-eye' }}"></i>
      </span>
    </div>

    <!-- تأكيد كلمة المرور -->
    <label for="confirm_password">{{ 'reset-password.confirm' | translate }}</label>
    <div class="password-input-wrapper">
      <input
        [type]="showPasswordFields['confirm_password'] ? 'text' : 'password'"
        id="confirm_password"
        formControlName="confirm_password"
      />
      <!-- <span class="password-toggle" (click)="togglePasswordVisibility('confirm_password')">
        <i class="{{ showPasswordFields['confirm_password'] ? 'fas fa-eye-slash' : 'fas fa-eye' }}"></i>
      </span> -->
    </div>

    <!-- أخطاء -->
    <div class="error" *ngIf="submitted && resetForm.hasError('mismatch')">
      {{ 'reset-password.errors.mismatch' | translate }}
    </div>

    <div class="error" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>

    <div class="success" *ngIf="successMessage">
      {{ successMessage }}
    </div>

    <!-- زر الإرسال -->
    <button type="submit" [disabled]="isLoading">
      {{ isLoading ? ('reset-password.loading' | translate) : ('reset-password.submit' | translate) }}
    </button>
  </form>
</div>
