body {
    background-color: #f4f4f4;
    font-family: 'Cairo', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #333;
}

/* تنسيقات الناف بار المعدلة بالتدرج اللوني */
.navbar {
    background: linear-gradient(to right, #1E427E, #12284C); /* نفس تدرج الفوتر */
    color: white;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    display: flex; /* عشان نرتب اللوجو والاسم جنب بعض */
    align-items: center; /* عشان يكونوا متوسّطين رأسيًا */
}

.navbar .logo img {
    height: 50px;
    padding: 5px;
    border-radius: 5px;
    margin: 10px 12px;
}

/* ... باقي تنسيقات الناف بار في styles.css ... */

.navbar .logo .university-name {
    font-size: 20px;
    font-weight: 900; /* قيمة أعلى للـ Bold عشان يكون أسود أكتر */
    background: linear-gradient(to right, #FF731D, #E65C00); /* تدرج برتقالي */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ... باقي تنسيقات styles.css ... */

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
}

.navbar ul li {
    flex-grow: 1;
    text-align: center;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px 0;
    transition: color 0.4s ease, transform 0.3s ease-in-out, background-color 0.4s ease;
}

.navbar ul li a:hover {
    color: #FF731D;
    transform: scale(1.05);
}
