<div class="profile container">
  <div class="profile-header" *ngIf="profileData">
      <div *ngIf="profileData.profile_image">
        <img [src]="'https://damanhourappproject-production.up.railway.app' + profileData.profile_image" alt="Profile Image" class="profile-image"/>

      </div>
    <div class="profile-info">
      <h2 class="name">{{ profileData.username }}</h2>
      <p class="faculty">{{ profileData.faculty }}</p>
    </div>
  </div>

  <h3 class="section-title">{{ 'profile.info' | translate }}</h3>

  <div *ngIf="profileData"  class="user-details">
    <p class="detail-item"><strong>{{ 'profile.name' | translate }}</strong> {{ profileData.username }}</p>
    <p class="detail-item"><strong>{{ 'profile.email' | translate }}</strong> {{ profileData.email }}</p>
    <p class="detail-item"><strong>{{ 'profile.faculty' | translate }}</strong> {{ profileData.faculty }}</p>
    <p class="detail-item"><strong>{{ 'profile.phone' | translate }}</strong> {{ profileData.phone }}</p>
    <p class="detail-item"><strong>{{ 'profile.status' | translate }}</strong> {{ profileData.adjective }}</p>
  </div>

  <div class="buttons-container">
    <a *ngIf="isAdmin" routerLink="/admin">
      <button class="admin-register" >{{ 'navbar.admin' | translate }}</button>
    </a>

    <a routerLink="/profile/edit">
      <button class="edit-profile-button">{{ 'profile.edit' | translate }}</button>
    </a>

    <button class="delete-button" (click)="onDeleteProfile()">
      {{ 'profile.delete' | translate }}
    </button>

    <button class="logout-button" (click)="logout()">{{ 'profile.sign out' | translate }}</button>
  </div>
</div>

