<div class="login-container">
  <div class="main-heading">
    <h1>{{ 'login.welcome-msg' | translate }}</h1>
  </div>
  <div class="side-heading">
    <p>{{ 'login.encorage_msg' | translate }}</p>
  </div>
  <div class="login-form">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" novalidate>
      <label for="email">{{ 'login.email' | translate }}</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="{{ 'login.enter_email' | translate }}"
        required
        ngModel
      />

      <div class="password-input-wrapper">
        <label for="password">{{ 'login.password' | translate }}</label>
        <input
          [type]="showPassword ? 'text' : 'password'"
          id="password"
          name="password"
          placeholder="{{ 'login.enter_pas' | translate }}"
          required
          ngModel
        />
        <i
          class="fa"
          (click)="togglePassword()"
          [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'"
          style="cursor:pointer"
        ></i>
      </div>

      <div class="forgot-password">
  <a routerLink="/forget-password">{{ 'login.forget_question' | translate }}</a>
</div>


      <button type="submit">{{ 'login.end_reg' | translate }}</button>
    </form>
  </div>
  <div class="no-account">
  <a routerLink="/register" class="no-account-link">{{ 'login.question' | translate }}</a>
</div>
</div>
