

.login-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); 
    width: 400px;
    max-width: 90%;
    text-align: center;
    margin: 100px auto;
}

.main-heading h1 {
    font-size: 32px;
    color: #111;
    font-weight: bold;
    margin-bottom: 20px;
}

.side-heading p {
    font-size: 18px;
    color: #777;
    margin-bottom: 30px;
}

.login-form {
    margin-bottom: 30px;
}

.login-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #1E427E;
    transition: transform 0.2s ease-in-out; 
    cursor: pointer; 
}

.login-form label:hover {
    transform: scale(1.05); 
}

.login-form input[type="email"],
.login-form input[type="password"],
.login-form input[type="text"], 
.login-form select {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    font-family: "Cairo", sans-serif;
    box-sizing: border-box;
    transition: transform 0.2s ease-in-out; 
}

.login-form input:focus,
.login-form select:focus {
    outline: none;
    border-image: linear-gradient(to right, #FF731D, var(--main-color)) 1; 
    border-width: 2px;
    transform: scale(1.02); 
}

.password-input-wrapper {
  position: relative;
}

.password-input-wrapper input {
  width: 100%;
  padding-right: 40px; 
  box-sizing: border-box;
}

.password-toggle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #777;
  cursor: pointer;
}

/* في اتجاه ltr تكون العين في اليمين */
:host-context([dir="ltr"]) .password-toggle {
  right: 10px;
  left: auto;
}

/* في اتجاه rtl تكون العين في الشمال */
:host-context([dir="rtl"]) .password-toggle {
  left: 10px;
  right: auto;
}


.forgot-password {
    text-align: right;
    margin-bottom: 15px;
    font-size: 14px;
}

.forgot-password a {
  color: var(--main-color); 
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.3s ease;
}

.forgot-password a:hover {
  color: #FF731D; 
}


.login-form button {
    background: linear-gradient(to right, var(--main-color), #12284C);
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login-form button:hover {
    background: linear-gradient(to right, #FF731D, var(--main-color));
    transform: translateY(-3px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.no-account {
    margin-top: 20px;
    font-size: 16px;
    color: #555;
}

.no-account-link {
  display: inline-block;
  margin-top: 20px;
  font-size: 16px;
  color: var(--main-color); 
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.3s ease;
  font-weight: bold;
}

.no-account-link:hover {
  color: #FF731D; 
}

