.welcome-section {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-block: 80px;
  background-image: url('/edwin-andrade-4V1dC_eoCwg-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  min-height: calc(106vh - 110px); /* ارتفاع الشاشة ناقص مساحة النافبار والفوتر */
}

.welcome-section > div {
  padding: 40px;
  border-radius: 10px;
  max-width: 90%;
}

.welcome-section h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: inherit;
}

.welcome-section p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 40px;
  color: inherit;
}

@media (max-width: 768px) {
  .welcome-section {
    padding-block: 60px;
    min-height: calc(100vh - 100px);
  }

  .welcome-section h1 {
    font-size: 32px;
  }

  .welcome-section p {
    font-size: 16px;
    margin-bottom: 30px;
  }
}

@media (max-width: 576px) {
  .welcome-section {
    padding-block: 40px;
    min-height: calc(100vh - 100px);
  }

  .welcome-section h1 {
    font-size: 24px;
  }

  .welcome-section p {
    font-size: 14px;
    margin-bottom: 20px;
  }
}
