<div class="forgot-password-container">
  <div class="main-heading">
    <h1>{{ 'forget-password.question' | translate }}</h1>
  </div>

  <div class="instructions">
    <p>{{ 'forget-password.msg' | translate }}</p>
  </div>

  <div class="forgot-password-form">
    <form [formGroup]="forgetForm" (ngSubmit)="onSubmit()">
      <label for="email">{{ 'forget-password.email' | translate }}</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        placeholder="{{ 'forget-password.enter_email' | translate }}"
      />
      
      <div class="error" *ngIf="submitted && f['email'].errors">
        <span *ngIf="f['email'].errors['required']">
          {{ 'forget-password.errors.required' | translate }}
        </span>
        <span *ngIf="f['email'].errors['email']">
          {{ 'forget-password.errors.invalid_email' | translate }}
        </span>
      </div>

      <button type="submit" [disabled]="isLoading">
        {{ isLoading ? ('forget-password.sending' | translate) : ('forget-password.send_link' | translate) }}
      </button>
    </form>
  </div>

  <div class="form-message success" *ngIf="successMessage">
    {{ successMessage }}
  </div>

  <div class="form-message error" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>

  <div class="back-to-login">
    <a [routerLink]="'/login'">{{ 'forget-password.back' | translate }}</a>
  </div>
</div>
