<div class="forgot-password-container">
  <div class="main-heading">
    <h1>{{ 'forget-password.question' | translate }} </h1>
  </div>

  <div class="instructions">
    <p> {{ 'forget-password.msg' | translate }}  </p>
  </div>

  <div class="forgot-password-form">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <label for="email">{{ 'forget-password.email' | translate }} </label>
      <input
        type="email"
        id="email"
        name="email"
        [(ngModel)]="email"
        placeholder="{{ 'forget-password.enter_email' | translate }} "
        required
      />

      <button type="submit">{{ 'forget-password.send_link' | translate }} </button>
    </form>
  </div>

  <div class="form-message" *ngIf="successMessage">
    {{ successMessage }}
  </div>

  <div class="back-to-login">
    <a [routerLink]="'/login'">{{ 'forget-password.back' | translate }} </a>
  </div>
</div>
